files:
  "/etc/security/limits.conf":
    mode: "00644"
    owner: "root"
    group: "root"
    content: |
      *         hard    nofile      65536
      *         soft    nofile      65536

commands:
    01_add_file_max:
        command: echo 'fs.file-max = 64000'
        ignoreErrors: false
    02_restart_sysctl:
        command: sysctl -p
        ignoreErrors: false

